.pokemonList--container {
    button {
        padding: 10px 20px;
        background-color: #d9d9d9;
        text-align: center;
    }
}

.pokemonCard--container {
    border: 2px solid black;
    padding: 30px 10px;
    h1 {
        text-align: center;
    }
}

